@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.job-bg {
    /*@apply bg-tertiary;*/
    @apply bg-tertiary/60;
    @apply backdrop-blur-2xl;
    @apply shadow-2xl
}